{% extends 'base.html.twig' %}

{% block title %}Liste cons{% endblock %}
{% block body %}
 <h1>Liste des Consommations</h1>
  {% if cons %}
    <table id="cons" class="table table-striped">
      <thead>    
        <tr>
            <th>N°</th>
            <th>Date Consommation</th> 
            <th>Heure Consommation</th> 
            <th>Article</th>
            <th>Quantite Cons</th>
            <th>Service</th>
        </tr>
      </thead>
      <tbody>
        {% for cons in cons %}
          <tr>
                <td>{{ cons.id }}</td>
                <td>{{ cons.DateConsommation |date("d/m/Y") }}</td>
                <td>{{ cons.DateConsommation |date("H:i") }}</td>         
                <td>{{ cons.articles }}</td>
                <td>{{ cons.QuantiteCons }}</td>
                <td>{{ cons.services }}</td>
                   
            <td>
              
              <a href="/cons/{{ cons.id }}" class="btn btn-success">Modifier</a>
              <a href="/supprimerCons/{{ cons.id }}" class="btn btn-danger delete-cons" data-id="{{ cons.id }}" onclick="return confirm('Etes-vous sûr de vouloir effectuer la suppession? ')">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p style="color: red;font-size:50px">La liste des Consommations est vide pour l'instant</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('stockCSS/main.js') }}"></script> 
{% endblock %}