{% extends 'base.html.twig' %}

{% block title %}Liste User{% endblock %}
{% block CSS %}
{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous"> #}
{% endblock %}
{% block body %}



 <h1>Liste des Utilisateurs</h1>
  {% if user %}
    <table id="user" class="table table-striped">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Matricule</th>
          <th>Email</th>
          <th>Username</th>   
          <th>role</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user %}
          
            
          
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.matricule }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.roles }}</td>   
            <td>
              <a href="/user/{{ user.id }}" class="btn btn-success">Modifier</a>
              <a href="/supprimerUser/{{ user.id }}" class="btn btn-danger delete-user" onclick="alert('Etes-vous sûr de vouloir supprimer ?')">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p style="color: red;font-size:50px">La liste des Utilisateurs est vide pour l'instant</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
   <script src="{{ asset('stockCSS/main.js') }}"></script> 
{% endblock %}