{% extends 'base.html.twig' %}

{% block title %}Liste User{% endblock %}
{% block CSS %}
     <!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}
{% block body %}

 <h1>Liste des Utilisateurs</h1>
  {% if user %}
    <table id="user" class="table table-striped">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Matricule</th>
          <th>Email</th>
          <th>Username</th>   
          <th>role</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user %}
        <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.nom }}</td>
              <td>{{ user.prenom }}</td>
              <td>{{ user.matricule }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>
              <td>
                    {{ user.roles[0] }}
                  
              </td>
              
              <td>
                <a href="/user/{{ user.id }}" class="btn btn-success">Modifier</a>
                <a class="btn btn-danger delete-user" data-toggle="modal" data-target="#exampleModal">Supprimer</a>
                <!-- Message de Confirmation -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel" style="color: red;font-weight:bold">Suppression</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 style="font-weight:bold">Voulez-vous effectuer la suppression ?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size:20px">Annuler</button>
          <a href="/supprimerUser/{{ user.id }}"><button type="button" class="btn btn-primary" style="font-size:20px">Confirmer</button></a>
        </div>
      </div>
    </div>
</div>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p style="color: red;font-size:50px">La liste des Utilisateurs est vide pour l'instant</p>
  {% endif %}


  
{% endblock %}


{% block javascripts %}
   <script src="{{ asset('stockCSS/main.js') }}"></script> 
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}